.cell {
  background: #b0c3e3;
  width: 32px;
  height: 32px;
}

.cell:hover {
  background: rgba(227, 227, 227, 0.27);
}

.ship {
  background: dodgerblue;
}

.hit {
  background: red;
}

.miss {
  background: #648b9d;
}

.marked {
  background: #7c4f80 !important;
}
